<footer class="footer">
  <section class="container-wrap">
    <div class="container-fluid mb-5 text-center text-md-left">
      <div class="row">
        <div class="col-12 col-md-3 mb-4 footer-info">
          <p>臺北展示暨服務中心</p>
          Tel 886-2-2627-5990 展示中心
          <br>
          Tel 886-2-2627-1559 服務中心
          <br>
          Add 臺北市內湖區瑞光路190號
        </div>
        <div class="col-12 col-md-3 mb-4 footer-info">
          <p>臺中展示與服務中心</p>
          Tel 886-4-3702-5760 展示中心
          <br>
          Add 臺中市西屯區市政北二路230號1樓
          <br>
          Tel 886-4-2313-6599 服務中心
          <br>
          Add 臺中市西屯區文心路三段109之6號
        </div>
        <div class="col-12 col-md-3 mb-4 footer-info">
          <p>高雄展示暨服務中心</p>
          Tel 886-7-359-2690 展示中心
          <br>
          Tel 886-7-359-2691 服務中心
          <br>
          Add 高雄市左營區新莊一路315號
        </div>
        <div class="col-12 col-md-3 footer-info">
          <p>訊息連絡人</p>
          行銷部 Carol Huang
          <br>
          <a href="mailto:Carol.Huang@modenamotori.com.tw">Carol.Huang@modenamotori.com.tw</a>
          <br>
          886-7-359-2690 ext.512
        </div>
      </div>
    </div>
  </section>
  <section class="footer-icon-block">
    <img src="../../static/img/logo-white.png" alt="">
  </section>
  <p class="text-center">Copyright © 2021 - All rights reserved. Ferrari - Modena Motori Taiwan Co., Ltd.</p>
</footer>