.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.8rem;
  &-side {
    @include layoutPadding();
    position: absolute;
    right: 0;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
