@import "./slider";
.sliderC {
  .slider-title {
    @include layoutPadding();
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    @include breakpoint("md") {
      text-align: left;
    }
  }

  .owl-carousel-item {
    max-height: 600px;
  }
  .img-skeleton {
    padding-top: 50%;
  }
  .slider-img {
    clip-path: $clip-path-start;
    border-top-right-radius: 5px;
  }

  .owl-dots.owl-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    @include breakpoint("md") {
      bottom: 50px;
      left: 0;
      transform: translateX(0);
    }
  }

  .more-btn {
    font-size: 0.8rem;
    p {
      color: $sec-red;
    }
    img {
      width: 0.6rem;
    }
  }
}