@import "./slider";
.sliderA {
  padding-bottom: 50px;
  @include breakpoint("md") {
    padding-bottom: 0;
  }
  .slider-title {
    @include layoutPadding();
    font-size: 1.5rem;
    width: 100%;
    text-align: center;

    @include breakpoint("md") {
      text-align: left;
    }
  }

  .owl-carousel-item {
    max-height: 600px;
  }
  .img-skeleton {
    padding-top: 50%;
  }
  .slider-img {
    clip-path: $clip-path-end;
    border-bottom-left-radius: 5px;
  }

  .owl-dots.owl-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    @include breakpoint("md") {
      bottom: 50px;
      left: 0;
      transform: translateX(0);
    }
  }
}
