.video-banner {
  position: relative;
  .banner-bg-skeleton {
    height: 0;
    padding-top: 300px;
    @include breakpoint('md') {
      padding-top: 600px;
    }
  }
  .banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1f1f1f5c;
    z-index: 1;
  }
  .banner-bg {
    background-image: url(../../static/img/F1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .player-btn-wrap {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    text-align: center;
  }
  .video-title-wrap {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    text-align: center;
  }
  .video-title {
    &-line {
      width: 1px;
      height: 20px;
      background-color: $white;
      margin: 0 auto;
      @include breakpoint('md') {
        height: 50px;
      }
    }
  }
  .player-btn {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
}