@import "./variable";
@import "./mixins/breakpoint";
@import "./mixins/layoutPadding";
// 英文
@font-face {
  font-family: "custom-sans-woff";
  src: url("../../static/font/Ferrari-SansMedium.woff"), url("../../static/font/Ferrari-SansRegular.woff");
  unicode-range: U+00-024F;
}

// 中文
@font-face {
  font-family: "custom-sans-serif";
  src: local(sans-serif);
  unicode-range: U+4E00-9FFF;
}

* {
  font-family: "custom-sans-woff", "custom-sans-serif" !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page__content {
  line-height: 2;
  flex: 1;
}
.container-wrap {
  @include layoutPadding("container-wrap");
}
.article-content {
  column-count: 1;
  @include breakpoint("md") {
    column-count: 2;
  }
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.divide-line {
  height: 1px;
  background-color: $black;
  margin: 2rem 0;
}
