$black: black;
$white: #ffff;
$main-red: red;
$sec-red: #DA291C;

$clip-path-start: polygon(0 0, 100% 0%, 75.5% 99.5%, 75% 100%, 0% 100%);
$clip-path-middle: polygon(25% 0%, 100% 0%, 75.5% 99.5% ,75% 100%, 0% 100%, 24.5% 0.5%);
$clip-path-end: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%, 24.5% 0.5%);
